@media only screen and (max-width: 640px) {
    #restaurants-header  button{
        width: 50% ;
    }
    .single-restaurant{
        width: 100%;
    }
    .a-whole{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .single-restaurant-image{
        width: 30%;
        padding: 3%;
    }
    .single-restaurant-name{
        width: 30%;
        margin-top: 30px;
    }
    .single-restaurant-price-rating{
        width: 30%;
    }
    .single-restaurant-name p{
        width: 90%;
        border: none;
        box-shadow: none;
        padding: 0%;
    }
    .single-restaurant-view-button{
        width: 100%;
        height: 0px;
    }
    .single-restaurant-price,.single-restaurant-rating{
        width: 100%;
    }
    .single-restaurant-rating{
        margin-top: 20px;
    }
    .single-restaurant-view-button button{
        top: -50px;
        width: 20%;
    }
}